// Bootstrap
@import "~bootstrap/scss/bootstrap";

.karcis-logo-wrapper{
    text-align: center;
    padding: 10px;
}

.order-info{
}

.karcis-logo-wrapper, .order-info{
    width: 350px;
    margin: auto;
}

